<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
        .center {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="center" style="margin-top: 30vh;">
        
        <h2 th:text="${message}"></h2>
        <br><br>

    <a th:href="@{/stockscreener1}">Screen Stocks</a>
    </div>

    <!-- <form class="center" method="GET" action="/stocksearch">
   <div>
    
    
     <button type="submit">Stock Search</button>
    </form></div>
     -->
    
</body>
</html>