<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Stock Price</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/Stockify.png" alt="" width="70" height="70">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#tracker">Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contactus">Contact Us</a>
          </li>
        
        </ul>
        
        <form class="d-flex" role="search" method="GET" action="/stockprice2">
          <input class="form-control me-2" type="search" placeholder="Ticker Search" aria-label="Search" name="symbol" required>
          <button class="btn-login" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

      <br><br>
      <div class="text-center stockprice">
        
        <h1 class="display-6">Search Results</h1>
      </div>
    <div class="container">
        
      <div class="container">
        <div class="row">
            <div class="col-lg-10 mt-5 mb-5">
                <table class="table table-striped table-hover table-responsive" style="width: 50%">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Beta</th>
                        <th>Average Volume</th>
                        <th>Market Capitalization</th>
                        <th>Last Dividend</th>
                        <th>Range</th>
                        <th>Changes</th>
                        <th>Company Name</th>
                        <th>Currency</th>
                        <!-- <th>Image</th> -->
                        <th>Exchange</th>
                        <th>Industry</th>
                        <th>Website</th>
                        <th>Sector</th>
                        <th>CEO</th>
                       
                   
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sp : ${stockprice}">
                        <td th:text="${sp.symbol}">Symbol</td>
                        <td th:text="${sp.price}">Price</td>
                        <td th:text="${sp.beta}">Beta</td>
                        <td th:text="${sp.volAvg}">Average Volume</td>
                        <td th:text="${sp.mktCap}">Market Capitalization</td>
                        <td th:text="${sp.lastDiv}">Last Dividend</td>
                        <td th:text="${sp.range}">Range</td>
                        <td th:text="${sp.changes}">Changes</td>
                        <td th:text="${sp.companyName}">Company Name</td>
                        <td th:text="${sp.currency}">Currency</td>
                        <!-- <td><img width="300" height = "200" data-th-src="${sp.image}" ></td> -->
                        <td th:text="${sp.exchangeShortName}">Exchange</td>
                        <td th:text="${sp.industry}">Industry</td>
                        <td th:text="${sp.website}">Website</td> 
                        <td th:text="${sp.sector}">Sector</td>
                        <td th:text="${sp.ceo}">CEO</td>
                       
                        
          
                    </tr>
                    <div class= "center" data-th-each="sp : ${stockprice}">
                      <table>
                        <tr>
                            <td style="width: 50%;">
                    <!-- <img width="300" height = "200" th:src=="${sp.image}" > -->
                    <span data-th-text="${sp.description}"></span></div>
                            </td>
                          </tr>
                      </table>
                    
                    
                    </tbody>
                </table>
    
         
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>