<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Landing Page</title>
    <style>
        .center {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="center" style="margin-top: 10vh;">
        <h1> Stock Screener </h1>
    </div>

    <form class="center" method="GET" action="/stockscreener2">
   <div>
    <!-- <label for="limit">Number of Companies: </label>
    <input type="text" name="limit" size ="20" placeholder="Number of Companies" > -->
    <!-- <br><br>
    
    <label for="priceMoreThan">Price Above: </label>
    <input type="text" name="priceMoreThan" size ="20" placeholder="Price Above">
    <br><br>

    <label for="priceLowerThan">Price Below: </label>
    <input type="text" name="priceLowerThan" size ="20" placeholder="Price Below">
    <br><br>

    <label for="dividendMoreThan">Dividend Above: </label>
    <input type="text" name="dividendMoreThan" size ="20" placeholder="Dividend Above">
    <br><br>

    <label for="dividendLowerThan">Dividend Below: </label>
    <input type="text" name="dividendLowerThan" size ="20" placeholder="Dividend Below">
    <br><br>

    <label for="volumeMoreThan">Volume Above: </label>
    <input type="text" name="volumeMoreThan" size ="20" placeholder="Volume Above">
    <br><br>

    <label for="volumeLowerThan">Volume Below: </label>
    <input type="text" name="volumeLowerThan" size ="20" placeholder="Volume Below">
    <br><br>

    <label for="country">Country: </label>
    <input type="text" name="country" size ="20" placeholder="Country" required>
    <br><br>

    <label for="exchange">Exchange: </label>
    <input type="text" name="exchange" size ="20" placeholder="Exchange">
    <br><br> -->
    
    
     

    <form class="row g-3">
   
        <div class="col-12">
            <label for="limit" class="form-label">Number of Companies: </label>
            <input type="text" class="form-control" name="limit" >
        </div>
        <div class="col-12">
            <label for="priceMoreThan" class="form-label">Price Above: </label>
            <input type="text" class="form-control" name="priceMoreThan">
        </div>
        <div class="col-12">
            <label for="priceLowerThan" class="form-label">Price Below: </label>
            <input type="text" class="form-control" name="priceLowerThan">
        </div>
        <div class="col-12">
            <label for="dividendMoreThan" class="form-label">Dividend Above: </label>
            <input type="text" class="form-control" name="dividendMoreThan">
        </div>
        <div class="col-12">
            <label for="dividendLowerThan" class="form-label">Dividend Below: </label>
            <input type="text" class="form-control" name="dividendLowerThan">
        </div>
        <div class="col-12">
            <label for="volumeMoreThan" class="form-label">Volume Above: </label>
            <input type="text" class="form-control" name="volumeMoreThan">
        </div>
        <div class="col-12">
            <label for="volumeLowerThan" class="form-label">Volume Below: </label>
            <input type="text" class="form-control" name="volumeLowerThan">
        </div>
        <div class="col-12">
            <label for="country" class="form-label">Country: </label>
            <input type="text" class="form-control" name="country">
        </div>
        <div class="col-12">
            <label for="exchange" class="form-label">Exchange: </label>
            <input type="text" class="form-control" name="exchange">
        </div>


        <!-- <div class="col-12">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div> -->
       
      


      <button type="submit" class="btn btn-secondary">Screen Stocks</button>
    </form></div>
    
</body>
</html>