<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic</title>
    <style>
        .center {
            width: 100vw;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <table>
        <!-- <form action="/articles" method="POST">
            <tr>
                <td><button type="submit">Save</form></td>
            </tr> -->
            <!-- <tr data-th-each="d: ${data}" class=""> -->
                <!-- <td>
                    <img width="200" height = "200" data-th-src="${l.image}" >
                </td> -->
                <td class="">
                    <!-- <input type="checkbox" name="/articles" th:value="${l.id}"/> -->
                        <!-- <label th:text="${d.timestamp}"></label></th:block>
                        <label th:text="${d.cameras}"></label></th:block> -->
                        <!-- <br><br>
                        Id: <strong data-th-text="${l.timestamp}"></strong>
                        <br><br>
                        Published on: <strong data-th-text="${l.published_on}"></strong>
                        <br><br>
                        Title:<strong data-th-text="${l.title}"></strong>
                        <br><br>
                        <a th:href="@{''+${l.url}}">View Article Here</a>
                        <br><br>
                        Body: <strong data-th-text="${l.body}"></strong>
                        <br><br>
                        Tags: <strong data-th-text="${l.tags}"></strong>
                        <br><br>
                        Categories: <strong data-th-text="${l.categories}"></strong> -->
                       
                        <br><br><br><br>
                </td>
            </tr>
        </form>       
    </table>
    
</body>
</html>